@import "compass";
@import "compass/reset";

@import "lib/bem-element";
@import "lib/github-markdown";

@font-face {
    font-family: Batch;
    src: url('/static/fonts/batch-icons-webfont.eot');
    src: url('/static/fonts/batch-icons-webfont.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/batch-icons-webfont.woff') format('woff'),
        url('/static/fonts/batch-icons-webfont.ttf') format('truetype'),
        url('/static/fonts/batch-icons-webfont.svg#batchregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin inset-shadow {
    @include box-shadow(0px 1px 6px rgba(black, 0.2) inset);
}

$color_text: #333;
$color_navy: #004;
$color_blue: #00c;
$color_red: #c00;
$color_green: #080;
$color_gray: #888;
$color_light: #f5f5f5;

$width_tag_line: 8px;

$max_width_content: 600px;

body {
    background-color: $color_navy;
    color: $color_text;
}

@import "components/wrapper";
@import "components/content";
@import "components/header";
@import "components/splash";
@import "components/flash";
@import "components/app-item";
@import "components/app-detail";
@import "components/bundle-list";
@import "components/bundle-item";
@import "components/bundle-detail";
@import "components/data-box";
@import "components/top-btn-area";
@import "components/account";
@import "components/footer";
@import "components/btn";
@import "components/members";
@import "components/api-token";
@import "components/form-wrapper";
@import "components/form-section";
@import "components/preview";
@import "components/install-ipa";
@import "components/github-markdown";