{{set . "title" "API Document"}}
{{template "header.html" .}}
<section class="api-document">
<div class="github-markdown">
<h1>
<a id="user-content-api-document" class="anchor" href="#api-document" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>API document</h1>
<h2>
<a id="user-content-upload-bundle" class="anchor" href="#upload-bundle" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Upload Bundle</h2>
<h3>
<a id="user-content-usage" class="anchor" href="#usage" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Usage</h3>
<div class="highlight highlight-source-shell"><pre>$ curl http://your-domain.com/api/upload_bundle \
    -F token=your-project-api-token \
    -F description=<span class="pl-s"><span class="pl-pds">'</span>for alpha-test<span class="pl-pds">'</span></span> \
    -F file=@/path/to/your/bundle-file</pre></div>
<h3>
<a id="user-content-parameters" class="anchor" href="#parameters" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Parameters</h3>
<table>
<thead>
<tr>
<th align="center">Name</th>
<th align="center">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td align="center">token</td>
<td align="center">
<strong>Required.</strong> The API token of your project. You can check it in your project page.</td>
</tr>
<tr>
<td align="center">description</td>
<td align="center">The description of the bundle file.</td>
</tr>
<tr>
<td align="center">file</td>
<td align="center">
<strong>Required.</strong> The path to the bundle file.</td>
</tr>
</tbody>
</table>
<h3>
<a id="user-content-response" class="anchor" href="#response" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Response</h3>
<pre><code>{
  "status": 200,
  "message": [
    "Bundle is created!"
  ],
  "content": {
    "file_id": "the ID of Bundle file on Google Drive",
    "revision": 1,
    "version": "1.0",
    "install_url": "the URL to install the Bundle file uploaded",
    "qr_code_url": "the URL of the QR code to install the Bundle file uploaded",
    "platform_type": "android",
    "created_at": "2006-01-02T15:04:05Z07:00",
    "updated_at": "2006-01-02T15:04:05Z07:00"
  }
}
</code></pre>
<h2>
<a id="user-content-delete-bundle" class="anchor" href="#delete-bundle" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Delete Bundle</h2>
<h3>
<a id="user-content-usage-1" class="anchor" href="#usage-1" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Usage</h3>
<div class="highlight highlight-source-shell"><pre>$ curl http://your-domain.com/api/delete_bundle \
    -F token=your-project-api-token \
    -F file_id=<span class="pl-s"><span class="pl-pds">'</span>bundle file_id<span class="pl-pds">'</span></span> \</pre></div>
<h3>
<a id="user-content-parameters-1" class="anchor" href="#parameters-1" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Parameters</h3>
<table>
<thead>
<tr>
<th align="center">Name</th>
<th align="center">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td align="center">token</td>
<td align="center">
<strong>Required.</strong> The API token of your project. You can check it in your project page.</td>
</tr>
<tr>
<td align="center">file_id</td>
<td align="center">
<strong>Required.</strong> Bundle FileID.</td>
</tr>
</tbody>
</table>
<h3>
<a id="user-content-response-1" class="anchor" href="#response-1" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Response</h3>
<pre><code>{
  "status": 200,
  "message": [
    "Bundle is deleted!"
  ],
}
</code></pre>
<h2>
<a id="user-content-listing-bundle" class="anchor" href="#listing-bundle" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Listing Bundle</h2>
<h3>
<a id="user-content-usage-2" class="anchor" href="#usage-2" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Usage</h3>
<div class="highlight highlight-source-shell"><pre>$ curl -XGET http://your-domain.com/api/list_bundle \
    -F token=your-project-api-token \
    -F page=page_num</pre></div>
<h3>
<a id="user-content-parameters-2" class="anchor" href="#parameters-2" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Parameters</h3>
<table>
<thead>
<tr>
<th align="center">Name</th>
<th align="center">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td align="center">token</td>
<td align="center">
<strong>Required.</strong> The API token of your project. You can check it in your project page.</td>
</tr>
<tr>
<td align="center">page</td>
<td align="center">Specific number for page.</td>
</tr>
</tbody>
</table>
<h3>
<a id="user-content-response-2" class="anchor" href="#response-2" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Response</h3>
<pre><code>{
  "status": 200,
  "message": [
    "Bundle List"
  ],
  "content": {
    "total_count": 2,
    "page": 1,
    "limit": 25,
    "bundles": [
      {
        "file_id": "the ID of APK file on Google Drive",
        "revision": 1,
        "version": "1.0",
        "qr_code_url": "the URL of the QR code to install the APK file uploaded",
        "install_url": "the URL to install the APK file uploaded",
        "platform_type": "android",
        "created_at": "2006-01-02T15:04:05Z07:00",
        "updated_at": "2006-01-02T15:04:05Z07:00"
      },
      {
      .
      .
      .
    ]
  }
}
</code></pre>
<!-- /.github-markdown --></div>
<!-- /.api-document --></section>
{{template "footer.html" .}}