.app-detail {
    max-width: $max_width_content;
    margin: auto;

    position: relative;

    margin-top: -10px;
    padding-bottom: 20px;
}

.app-detail__ttl {
    display: block;
    color: $color_navy;
    font-weight: bold;

    text-decoration: none;

    font-size: 25px;
    text-align: center;

    &:hover {
        text-decoration: underline;
    }
}

.app-detail__description {
    color: $color_gray;
    text-align: center;
    padding-bottom: 10px;
}

.app-detail__bundle {
    position: relative;
    border-top: solid 1px $color_light;
    border-bottom: solid 1px $color_light;
}

.app-detail__bundle__tab {
    top: 0px;
    width: 100%;
    margin-bottom: 30px;
    background-color: white;
}

.app-detail__bundle-nav {
    position: relative;
    top: -1px;
    overflow: hidden;
    margin-bottom: 30px;
    text-align: right;

    a {
        position: relative;
        display: block;
        float: right;
        min-width: 50px;
        padding: 5px;
        margin: 0px 5px;

        background-color: $color_light;
        color: $color_gray;
        text-align: center;

        border-style: solid;
        border-color: $color_light;
        border-width: 1px;

        &:hover {
            color: $color_navy;
        }

        &.active {
            background-color: white;
            border-color: white $color_light $color_light $color_light;
            text-decoration: none;
            color: $color_navy;
            font-weight: bold;
            cursor: default;
        }
    }
}

.app-detail__btn-area {
    text-align: center;
}

.app-detail__operation {
    text-align: center;
}