.bundle-list {
    height: $bundle_list_height;
    overflow-x: hidden;
    overflow-y: scroll;
}

.bundle-list__list {
    margin-top: 10px;
    margin-bottom: 15px;
    padding-top: 0px;
    padding-bottom: 40px;

    position: relative;
    overflow: hidden;
    min-height: $bundle_list_height;

    &:before {
        content: '';
        border-left: solid 4px $color_navy;
        position: absolute;
        height: 100%;
        top: 35px;
        left: 50%;
        margin-left: -45px;
    }
}

.bundle-list__no-bundle {
    text-align: center;
    color: $color_navy;
    font-weight: bold;
    height: $bundle_list_height / 2;
    padding-top: $bundle_list_height / 2;
}

