.bundle-detail {
    max-width: $max_width_content;
    margin: auto;
    margin-bottom: 5px;
}

.bundle-detail__header {
    text-decoration: none;
    border-bottom: solid 4px $color_light;
    @include box-shadow(0px 2px 5px rgba(black, 0.3));    
    margin-top: 15px;
}

.bundle-detail__bundle-version {
    background-color: $color_navy;
    color: white;
    text-decoration: none;
    padding: 10px;
    line-height: 1;
    border-bottom: solid 4px black;

    &:hover {
        background-color: $color_blue;
        border-color: $color_navy;
    }
}

.bundle-detail__app-ttl {
    display: inline-block;
    padding: 10px;
    line-height: 1;
    text-decoration: none;
    color: inherit;
}

.bundle-detail__qr {
    display: block;
    margin: auto;
}