<!DOCTYPE html>
<html lang="ja">
<head>

<!-- meta -->
<meta charset="utf-8" />
<meta name="description" content="{{.description}}" />
<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="icon" href="/static/img/favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="apple-touch-icon" href="/static/img/icon-ios.png" />

<!-- ios meta -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="no" />
<meta name="apple-mobile-web-app-status-bar-style" content="default" />

<title>{{.title}} | alphawing</title>
<script src="/static/js/lib/html5shiv.js"></script>
<link rel="stylesheet" href="/static/css/alphawing.css" />
</head>
<body>
<section class="wrapper">
<header class="header">
<a href="{{url "AlphaWingController.Index"}}"><h1 class="header__ttl"><span>alphawing</span></h1></a>
<!-- /.header --></header>
<div class="content">
{{template "flash.html" .}}
