{{$dateFormat := "2006/01/02 15:04"}}
<div class="bundle-list">{{if eq (len .bundles) 0}}
<div class="bundle-list__no-bundle">{{.bundleLabel}}ファイルが登録されていません。</div>{{else}}
<ul class="bundle-list__list">{{range $index, $value := .bundles}}{{if eq $index 0}}
<li><div class="bundle-item--first">
<a href="{{url "BundleControllerWithValidation.GetBundle" $value.Id}}" class="bundle-item__version--first">{{$value.BundleVersion}} #{{$value.Revision}}</a>
<div class="bundle-item__date--first">{{$value.CreatedAt.Format $dateFormat}}</div>
<br />{{if $value.IsApk}}
<a class="btn--download-current-bundle" href="{{url "BundleControllerWithValidation.GetDownloadApk" $value.Id}}">最新版をダウンロード</a>{{end}}{{if $value.IsIpa}}
<a class="btn--download-current-bundle" href="{{url "BundleControllerWithValidation.GetDownload" $value.Id}}">最新版をダウンロード</a>{{end}}
<!-- /.bundle-item --></div></li>{{else}}
<li><div class="bundle-item">
<a href="{{url "BundleControllerWithValidation.GetBundle" $value.Id}}" class="bundle-item__version">{{$value.BundleVersion}} #{{$value.Revision}}</a>
<div class="bundle-item__date">{{$value.CreatedAt.Format $dateFormat}}</div>
<!-- /.bundle-item --></div></li>{{end}}{{end}}
<!-- /.bundle-list__list --></ul>{{end}}
<!-- /.bundle-list --></div>
